body {
  background-color: #ecbdbd;
}

img {
  width: 130px;
  border-radius: 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

li {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  display: flex;
  background-color: #ffffff81;
  border-radius: 5px;
  border: 1px solid #a8a2a271;
}

li:active {
  transform: scale(1.2);
}

button {
  font-size: 15px;
  color: #ffdada;
  background-color: #2b033bd2;
  border: 2px solid #35072d;
  border-radius: 10px;
  padding: 10px 20px;
  /* transition: cubic-bezier(0.17, 0.67, 0.83, 0.67); */
}

button:hover {
  cursor: pointer;
  background-color: rgba(210, 140, 250, 0.726);
  transform: scale(1.1);
}

.search__input {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin-left: 980px;
}

.download {
  margin-left: 600px;
  margin-top: 50px;
}

.button-scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  background-color: #8a96bdb4;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
